<ion-header>
  <ion-toolbar color ="primary">
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{datos.titulo}}</ion-title>


    <ion-buttons slot="end">
      <ion-button (click)="eliminar()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Se crea una grilla para imagenes-->
  <ion-grid class="ion-no-padding">

    <ion-row>
      <ion-col>
        <ion-img [src]="datos.imagenURL"></ion-img>
      </ion-col>
    </ion-row>
    <!--Nombre del plato-->
    <ion-row>
      <ion-col>
       <h1 class="ion-text-center">{{datos.titulo}}</h1>
      </ion-col>
    </ion-row>
  <!--Comentarios-->
    <ion-row>
      <ion-col>

       <ion-list *ngIf="datos.comentarios && datos.comentarios.length > 0; else sinComentarios">
         <ion-item *ngFor="let com of datos.comentarios">
          {{com}}
         </ion-item>
       </ion-list>
       
       <!--NgTemplate: segmento de codigo que aparece bajo una condicion-->
       <ng-template #sinComentarios>
         <ion-text>
          <p class="ion-text-center">Sin comentacios</p>
         </ion-text>
       </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
