<ion-header>
  <ion-toolbar>
    <!--Botón volver-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/productos"></ion-back-button>
    </ion-buttons>

    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>

    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Ingrese el Titulo" ></ion-input>
          <ion-input type="text" placeholder="Ingrese la URL" ></ion-input>
          <ion-input type="text" placeholder="Ingrese un comentario" ></ion-input>
          <ion-button color="danger" (click)="agregarProducto(titulo,url,comentario)">Agregar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

</ion-content>
